name: Deploy

on:
  push:
    branches:
      - dev

jobs:
  publish:
    runs-on: ubuntu-latest
    name: Deploy
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Deploy to Cloudflare Workers
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.CF_API_TOKEN }}
          accountId: ${{ secrets.CF_ACCOUNT_ID }}
          secrets: |
              TG_BOT_TOKEN
        env:
          TG_BOT_TOKEN: ${{ secrets.TG_BOT_TOKEN_DEV }}
